body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: rgb(7, 121, 121);
}

.chat {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 16px;
  display: inline-block;
}

.msg {
  background-color: dodgerblue;
  color: white;
  padding: 5px 15px;
  border-radius: 16px;
}
